body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.Panel {
  height: 40px;
  background-color: #222f3d;
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-evenly;
}

.Allicon {
  display: flex;
}
.allbaricon {
  background-image: url("Allbaricon.png");
  background-size: cover;
  height: 28px;
  width: 28px;
}

.allword {
  font-size: 1rem;
  font-weight: 700;
  margin-top: 13px;
}
.paneloption p {
  margin-left: 15px;
  display: inline;
}
.paneloption {
  width: 70%;
  font-size: 0.85rem;
}
.paneldetail {
  font-size: 0.88rem;
  font-weight: 700;
}
/* Utility Classes */
.img_responsive {
  max-width: 100%;
}
/* Titles */
.titleimages {
  background: url(webback\ \(4\).jpg) no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
}
.food_healer_web {
  color: yellow;
  font-weight: bold;
  font-size: larger;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: absolute;
  font-style: oblique;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.subimage {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.subimage h2 {
  font-size: 2rem;
  text-align: center;
}
.subimage span {
  margin-left: 5rem;
  display: inline-block;
  margin-bottom: 0.5rem;
}
.form_code {
  text-align: center;
}
.form_code button:visited {
  color: rgb(250, 0, 54);
}
.form_code button:hover {
  color: yellow;
}
.form_code button:active {
  color: mediumspringgreen;
}
/* PLaying with color : hover active visited */
.post_code:visited {
  color: rgb(0, 128, 13);
}
.post_code:hover {
  color: green;
}
.post_code:active {
  color: rgb(0, 2, 128);
}
.post_code {
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2rem;
  padding: 0.6rem;
  border: none;
  outline: none;
}

.form_code button {
  /* commented below button block property because in .form_code big body it is assigned over. */
  /* display: inline-block; */
  width: 20%;
  /* below commented because they are used in one line cmd below */
  /* margin-top: 1rem; 
  margin-left: auto;    
  margin-right: auto; */
  text-align: center;
  background-color: #00bab1;
  color: wheat;
  padding: 0.6rem;
  /* all margin in one command line below */
  margin: 1rem auto 0rem;
  border: none;
  border-radius: 0.3rem;
}

/* Section 2 Product Srction */

.product {
  width: 80%;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}
.sub_food_sub_title {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.86rem;
  width: 100%;
  margin-bottom: 25px;
}
.product_list_item {
  float: left;
  width: 32.33%;
  margin-left: 0.5rem;
}
.product_list_item:first-of-type {
  margin-left: 0;
}
@media screen and (max-width: 700px) {
  .product_list_item {
    width: 100%;
    float: none;
  }
}
